html,
body,
.root {
	height: 100%;
	background: url('./assets/dark_wood.png');
}

body {
	line-height: 1.5;
}

a {
	text-decoration: none;
	color: color-mod(white alpha(10%));
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
