.nav {
	position: sticky;
	top: 0;
	z-index: 99;
	display: flex;
	width: 100%;
}

.list-books-title {
	padding: 10px 0;
	background: #f44336;
	text-align: left;
	flex: 1;
}
.list-books-title h1 {
	font-weight: 400;
	margin: 0;
	padding-left: 3rem;
	color: white;
}
