.bookshelf {
	padding: 0 10px 20px;
	min-height: 380px;
}

@media (min-width: 600px) {
	.bookshelf {
		padding: 0 20px 40px;
	}
}

.bookshelf-title {
	color: #f44336;
	font-weight: 400;
	border-bottom: 1px solid #f44336;
	text-transform: capitalize;
}

.bookshelf-books {
	text-align: center;
}

/* books grid */

.books-grid {
	list-style-type: none;
	padding: 0;
	margin: 0;

	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	& li {
		padding: 10px 15px;
		text-align: left;
	}
}

.book-shelf-changer {
	position: absolute;
	right: 10px;
	bottom: -10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: #00bcd4;
	background-image: url('./assets/arrow-drop-down.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 20px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	& select {
		width: 100%;
		height: 100%;
		opacity: 0;
		cursor: pointer;
		padding: 10px;
	}
}
